@use './variables' as *;

.contact {
    width: 100%;
    background: $whiteColor;

    @media (min-width: 769px) {
        display: flex;
        justify-content: center;
    }
}

.contactSectionWrapper {
    display: flex;
    flex-direction: column;
    margin: 3rem 2rem;
    gap: 3rem;

    @media (min-width: 769px) {
        margin: 8rem 0rem;
        flex-direction: row;
        gap: 5rem;
    }
}

.contactFormWrapper {
    display: flex;
    flex-direction: column;
    gap: .75rem;

    @media (min-width: 769px) {
        width: 35rem;
        justify-content: space-between;
    }
}

.contactHeader {
    color: $mainColor;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;

    @media (min-width: 1921px) {
        font-size: 1.75rem;
    }
}

.contactInput {
    font-size: clamp(0.9rem, 1rem, 1rem);
    padding: .75rem;
    border-radius: 10px;
    border: solid $mainColor 3px;
    background: $whiteColor;
    font-family: 'Montserrat', sans-serif;

    &.textarea {
        resize: vertical;
        height: 8rem;
    }

    @media (min-width: 769px) {
        padding: 1rem;
    }

    @media (min-width: 1921px) {
        font-size: 1.25rem;
    }
}

.contactSubmitButton {
    font-size: clamp(0.9rem, 1rem, 1rem);
    width: 7rem;
    border-radius: 50px;
    background: $mainColor;
    color: $whiteColor;
    padding: .3rem .4rem;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all .15s ease-in-out;

    @media (min-width: 1921px) {
        font-size: 1.25rem;
        padding: .4rem .5rem;
    }
    
    &:hover{
        background: $secondaryColor;
        transform: scale(1.05);
    }
}

.companyInformationWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;

    @media (min-width: 769px) {
        justify-content: space-between;
    }
}

.headerAndTextContainer {
    width: 75%;
}

.contactHeader {
    text-align: center;
}

.contactParagraph {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(0.9rem, .95rem, 1rem);

    @media (min-width: 769px) {
        font-size: clamp(0.9rem, 1rem, 1rem);
    }

    @media (min-width: 1921px) {
        font-size: 1.25rem;
    }

    color: $mainColor;

    &:link {
        color: $mainColor;
    }
}

a[href^=tel] {
    text-decoration: inherit;
    color: inherit;
}