@use './variables' as *;

.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $whiteColor;
    min-height: 77vh;

    @media (min-width: 769px) {
        min-height: 71vh;
    }

    @media (min-width: 1921px) {
        min-height: 88vh;
    }
}

.pageTitle{
    font-family: 'Lora', serif;
    font-weight: 500;
    margin-bottom: 3rem;
    @media (min-width: 769px) {
        margin-bottom: 5rem;
        font-size: 2rem;
    }
    @media (min-width: 1921px) {
        margin-bottom: 7rem;
        font-size: 3rem;
    }
}

.imagesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 2.5rem;
    @media (min-width: 769px) {
        width: 60%;
    }
}

.imgContainer{
    width: 45%; 
    height: fit-content;
    border: solid 3px $whiteColor;
    border-radius: 5px;
    margin-bottom: 2rem;

    @media (min-width: 769px) {
        width: 20%; 
    }
}

.galleryImg{
    width: 100%;
    height: auto;
    display: block;
}