@use './variables' as *;

.hero {
    display: flex;
    justify-content: center;
    width: 100%;
    background: $mainColor;
    position: relative;
    padding: 4rem 0;
}

.backgroundShapeOne,
.backgroundShapeTwo,
.backgroundShapeThree {
    position: absolute;
    z-index: 1;
}

.backgroundShapeOne {
    width: 200px;
    height: 200px;
    border-radius: 50% 0 50% 50%;
    background: $secondaryColor;
    top: 20%;
    right: 10%;
}

.backgroundShapeTwo {
    width: 150px;
    height: 150px;
    border-radius: 25%;
    background: $tertiaryColor;
    bottom: 10%;
    right: 45%;
}

.backgroundShapeThree {
    bottom: 10%;
    right: 5%;
}

.heroSectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 0 2rem;
    gap: 2rem;

    @media (min-width: 769px) {
        flex-direction: row;
        justify-content: space-between;
        width: 75%;
        margin: 0 2rem 5rem 2rem;
    }
}

.heroDescriptionSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media (min-width: 769px) {
        width: 50%;
        align-items: flex-start;
        text-align: left;
        gap: 2rem;
    }
}

.tagline {
    all: unset;
    color: $whiteColor;
    font-family: 'Cormorant', serif;
    font-size: clamp(2rem, 2.5rem, 2.5rem);
    font-weight: 500;

    &.secondary {
        font-size: clamp(0.9rem, 1rem, 1rem);
        font-family: 'Montserrat', serif;
        font-weight: 400;
    }

    @media (min-width: 769px) {
        font-size: clamp(5rem, 5rem, 5rem);
        font-weight: 600;

        &.secondary {
            width: 62%;
        }
    }
}

.heroButtonContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;

    @media (min-width: 769px) {
        margin-top: 3rem;
    }
}

.landingButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background: $whiteColor;
    width: 7.5rem;
    padding: 0.85rem;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Montserrat', serif;
    font-weight: 500;

    &:visited {
        color: $mainColor;
    }

    @media (min-width: 769px) {
        width: 10rem;
        padding: .8rem .85rem;
        font-size: clamp(0.9rem, 1.2rem, 1.2rem);
    }

    img{
        width: 1rem;
        height: auto;
    }
}

.heroImages {
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;

    @media (min-width: 769px) {
        justify-content: end;
        gap: 5rem;
        width: 50%;
        margin: 0;
    }
}

.landingImage {
    width: 8rem;
    height: auto;
    z-index: 2;

    &.one {
        border-radius: 150px 150px 150px 0;
        align-self: flex-start;
        position: relative;
    }

    &.two {
        border-radius: 0 150px 150px 150px;
        position: relative;
    }

    @media (min-width: 769px) {
        width: 20rem;

        &.one {
            top: -3rem;
        }

        &.two {
            top: 6rem;
        }
    }
}