@use './variables' as *;

.services {
    display: flex;
    flex-direction: column;
    background: $mainColor;
    padding: 0 0 1rem 0;
    min-height: 73vh;
    background: $whiteColor;
    padding: 1rem 0 2rem 0;

    @media (min-width: 769px) {
        align-items: center;
        background: $mainColor;
        min-height: 70vh;
    }

    @media (min-width: 1921px) {
        min-height: 75vh;
    }

}

.SrvbackgroundShapeOne,
.SrvbackgroundShapeTwo,
.SrvbackgroundShapeThree {
    position: absolute;
    z-index: 1;
}

.SrvbackgroundShapeOne {
    display: none;
    width: 20px;
    height: 70px;
    border-radius: 1rem 0 0 1rem;
    background: $secondaryColor;
    top: 15%;
    right: 0%;

    @media (min-width: 769px) {
        display: flex;
        width: 160px;
        height: 95px;
        border-radius: 0 0 5rem 5rem;
        top: 20%;
        right: 5%;
    }

    @media (min-width: $macbook-air-13) and (max-width: $macbook-air-15) {
        top: 17%;
        right: .5%;
    }

    @media (min-width: 1921px) {
        width: 250px;
        height: 140px;
        border-radius: 5rem 0 10rem 10rem;
        top: 20%;
        right: 5%;
    }
}

.SrvbackgroundShapeTwo {
    display: none;
    width: 20px;
    height: 80px;
    border-radius: 0 3rem 3rem 0;
    background: $tertiaryColor;
    top: 32%;
    left: 0%;

    @media (min-width: 769px) {
        display: flex;
        width: 160px;
        height: 160px;
        border-radius: 0 5rem 5rem 5rem;
        top: 60%;
        left: 17%;
    }

    @media (min-width: $macbook-air-13) and (max-width: $macbook-air-15) {
        width: 120px;
        height: 120px;
        top: 45%;
        left: 5%;
    }

    @media (min-width: 1921px) {
        width: 200px;
        height: 180px;
        border-radius: 10rem 0rem 10rem 10rem;
        top: 45%;
        left: 7%;
    }
}

.SrvbackgroundShapeThree {
    display: none;
    width: 30px;
    height: 100px;
    border-radius: 3rem 0 0 3rem;
    background: $fourthColor;
    bottom: 15%;
    right: 0%;

    @media (min-width: 769px) {
        display: flex;
        width: 160px;
        height: 160px;
        border-radius: 5rem;
        top: 67%;
        right: 17%;
    }

    @media (min-width: $macbook-air-13) and (max-width: $macbook-air-15) {
        top: 80%;
        right: 3%;
        width: 120px;
        height: 120px;
    }

    @media (min-width: 1921px) {
        width: 200px;
        height: 200px;
        border-radius: 10rem;
        top: 67%;
        right: 3.3%;
    }
}

.servicesNavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $mainColor;
    margin: 0 2rem 2.5rem 2rem;
    height: 2.1rem;

    @media (min-width: 769px) {
        background: $mainColor;
        color: $whiteColor
    }

    @media (min-width: 1921px) {
        margin: 0 2rem 4rem 2rem;
    }
}


.circleButton {
    all: unset;
    display: flex;
    align-items: center;
    width: 1.8rem;
    height: 1.8rem;
    transform: scaleX(1);

    &.left {
        transform: scaleX(-1);
    }

    &.unset {
        opacity: .5;
    }

    @media (min-width: 769px) {
        display: none;
    }
}

.circleButtonImg {
    display: flex;
    width: 100%;
    height: auto;
}

.currentServiceTab {
    font-size: clamp(1.25rem, 1.8rem, 2rem);
    font-family: 'Lora', serif;
    font-weight: 400;

    @media (min-width: 769px) {
        display: flex;
        gap: 2.5rem;
    }
}


.currentServiceButton {
    all: unset;
    font-size: clamp(1.25rem, 1.2rem, 2rem);
    font-family: 'Lora', serif;
    font-weight: 400;
    opacity: .5;
    transition: all .15s ease-in-out;
    cursor: pointer;

    &.active {
        font-size: clamp(1.25rem, 1.8rem, 2rem);
        opacity: 1;
    }

    &:hover {
        font-size: clamp(1.25rem, 1.6rem, 2rem);
        transition: all .25 ease-in-out;
    }

    @media (min-width: 1921px) {
        font-size: 1.5rem;

        &:hover {
            font-size: clamp(1.25rem, 1.9rem, 2.1rem);
        }

        &.active {
            font-size: clamp(1.25rem, 2.1rem, 2rem);
        }
    }
}


.servicesContainer {
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: opacity 0.5s ease-in-out;
    z-index: 2;

    @media (min-width: 769px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        width: 60%;
        margin: 0 auto;
        column-gap: 5rem;
        row-gap: 1.25rem;
    }
    @media (min-width: 1921px) {
        row-gap: 2rem;
    }
}

.servicesContainer.fade-out {
    opacity: 0;
}

.servicesContainer.fade-in {
    opacity: 1;
}

.serviceItem {

    display: flex;
    justify-content: space-between;
    align-items: start;
    background: $whiteColor;
    padding: .75rem 1rem;
    border-radius: 25px;
    margin: 0 1rem;
    transition: all .25s ease-in-out;
    transition: opacity 0.5s ease-in-out;

    @media (min-width: 769px) {
        margin: 0;
        width: 100%;
    }

    @media (min-width: 1921px) {
        padding: 1rem 1.25rem;
    }
}



.serviceInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-size: clamp(0.5rem, 1.3rem, 1.5rem);
    font-family: 'Lora', serif;
    font-weight: 600;

    @media (min-width: 769px) {
        font-size: clamp(0.5rem, 1.1rem, 1.5rem);
    }

    @media (min-width: 1921px) {
        font-size: 1.4rem;
    }
}


.serviceInfoHolder {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 .5rem;
    color: $mainColor;

    &.top {
        display: flex;
        justify-content: space-between;
    }
}

.serviceItemInfo {
    padding: 0;
    margin: 0;

    &.title {
        width: 75%;
    }

    &.sub {
        opacity: .5;
    }
}

.serviceToggle {
    all: unset;
    display: flex;
    align-items: center;
    cursor: pointer;

    @media (min-width: 769px) {
        display: none;
    }
}

.subServices {
    display: flex;
    gap: .5rem;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    &.visible {
        margin-top: .5rem;
        gap: .5rem;
        max-height: 500px;
        opacity: 1;
    }

    @media (min-width: 769px) {
        margin-top: .5rem;
        gap: .5rem;
        max-height: 500px;
        opacity: 1;
    }
}